<section id="accommodations" class="container content-section content-subsection text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        	<h2>Accommodations</h2>
            <p>We've rented <a target="_blank" href="http://www.kresgeandassociates.com/keystonemeadowhouse.html">The Meadow House at Keystone Ranch</a> for our reception and to host some of our guests. If you're intwrested in staying at the Meadow, please reach out to us through the <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScnG_deGm79wgi29ad-aQd2eDF-8XYVcOsJdriGd3sfzV_Emw/viewform">online RSVP Form</a> or in the RSVP postcard.</p>

            <p><a target="_blank" href="https://www.airbnb.com/s/dillon?checkin=06%2F11%2F2017">Airbnb</a> is a great option, and of course, Dillon also has <a target="_blank" href="https://www.tripadvisor.com/SmartDeals-g33389-Dillon_Colorado-Hotel-Deals.html">several great hotels in the area</a>.</p>
        </div>
    </div>
</section>
