<section id="after-party" class="container content-section content-subsection text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        	<h1>NH Reception</h1>
          <p>For those unable to attend, there will be a reception on Aug. 19 at the Pavilion at Beans and Greens. Click <a href="#after-party">here</a> for directions.</p>
        	<p>On August 19, located near beautiful Lake Winnipesaukee.</p>
            <p>The Pavilion at Beans and Greens<br>
            245 Intervale Road<br>
            Gilford, NH 03248</p>
           	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2890.65090518049!2d-71.39789518450489!3d43.572156779124214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb33126ef613f59%3A0x7dad2058a379bd76!2s245+Intervale+Rd%2C+Gilford%2C+NH+03249!5e0!3m2!1sen!2sus!4v1491539054413" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>
