<section id="directions" class="container content-section content-subsection text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        	<h2>Directions to the Meadow House</h2>
            <p>The Meadow House<br>
            1293 Keystone Ranch Road<br>
            Keystone, CO 80435</p>
            <p><strong>Do not simply plug 1293 Keystone Ranch Road into Google Maps, it is incorrect.</strong> Below is the real location of 1293 Keystone Ranch Road.</p>
            <p><a href="https://goo.gl/maps/vW6giekUzmo">https://goo.gl/maps/vW6giekUzmo</a> is the link to pull up on your smartphone.</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3074.8721818248396!2d-105.99537368432752!3d39.58503097947051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMznCsDM1JzA2LjEiTiAxMDXCsDU5JzM1LjUiVw!5e0!3m2!1sen!2sus!4v1492998202697" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            <br><br>
            <p><strong>From Denver lnternational Airport.</strong></p>
            <p> Go west on l-70 to exit 205. Dillon/Silverthorne. Turn left at the light into
                Dillon. Travel through Dillon (City Market. Sports Authority and FexEx Kinkos on your left). Then pass the lake
                on your right and go through the light at Swan Mtn. As you enter Keystone, take a right at the first light onto
                West Keystone Road. After turning off the highway, immediately veer to the left and go .4 miles to Soda Ridge
                Road.Turn right on Soda Ridge Road (you'll see a sign pointing to Keystone Ranch). Drive .95 miles on Soda
                Ridge Road ~ you will run into the stables. Just before the stables, take a left on Keystone Ranch Road.
                Keystone Ranch Road is a very windy road at this point. You'll feel that you are driving up, up, up! Drive 1.3
                miles on Keystone Ranch Road to Keystone Ranch gatehouse. Drive through the gate and do not turn off Keystone
                Ranch Road. Drive .35 miles on Keystone Ranch Road. As you approach the clubhouse (Keystone Ranch Restaurant),
                you'll see a large tin roofed barn on your right ~ this is the area to dispose of your garbage and recycling
                when you check out. Keep going past the mailboxes and past the club house and restaurant. Drive past the pool
                on your right ~ the next driveway will be l293 Keystone Ranch Road and the sign will say KRESGE. If you pass
                the number or the sign. you have gone too far. The driveway is on the right.</p>
            
            <p><strong>From Windy Point Campground</strong></p>
            <p>Head south toward Swan Mountain Road, and take it all the way to Keystone Ranch Road. Take Keystone Ranch Roand until you pass the restaurant and the pool on your right. The Meadow House is the first driveway on the right after the pool. There will be markers guiding you. The sign will say "Kresge".</p>
            <p>Overflow parking for the house will be the parking lot on the left, across from the pool. It is a very short walk to the house.</p>

            <br><br><br>
        <h2>Directions to Windy Point Campground (the ceremony)</h2>
            <p>Windy Point Group Campground<br>
                        White River National Forest<br>
                        Dillon, CO 80435</p>
           
            <p>From the Denver International Airport, follow Pena Blvd & take I-70 West to the Blue River Parkway in Silverthorne, taking exit 205.</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d392918.3035073937!2d-105.64825484683763!3d39.702027664159765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x876c7f2a98ff44ff%3A0x49583bb435b59c6a!2sDenver+International+Airport%2C+8500+Pe%C3%B1a+Blvd%2C+Denver%2C+CO+80249!3m2!1d39.8560963!2d-104.6737376!4m5!1s0x876a5be949be9363%3A0xb5c6b7ae8c358e23!2sWindy+Point+Group+Campground%2C+Dillon%2C+CO!3m2!1d39.6078137!2d-106.04546529999999!5e0!3m2!1sen!2sus!4v1485119023019" width="400" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            <p></p>
        </div>
    </div>
</section>
