<section id="logistics" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        	<h1>Logistics</h1>
            <p>On Saturday July 8th we will be hosting a welcome dinner for all of our guests at the Meadow House at Keystone Ranch beginning at 7PM.</p>
            <p>On Sunday July 9th, the ceremony & beer hour will be at Windy Point Campground. The reception will immediately follow at the Meadow House, which is located about 15 minutes away from the campground.</p>

        </div>
    </div>
</section>