<section id="our-wedding" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        	<h1>Our Wedding</h1>
            <p>The wedding will be on Sunday, July 9th, 2017 at 6:30PM at the Windy Point Campground on Lake Dillon in Colorado.</p>
            <p>Reception to follow at the Meadow House.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>The Proposal</h2>
            <p>Jackie proposed to Ken on top of the Great Sand Dunes National Park on July 8, 2006.</p>
            <p>Pictures here...</p>
        </div>
    </div>
</section>
