<section id="our-wedding" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        	<h1>Our Wedding</h1>
            <p>The wedding will be on Sunday, July 9th, 2017 at 6:30PM at the Windy Point Campground on Lake Dillon in Colorado.</p>
            <p>Reception to follow at the Meadow House. There will be beer tasting and dinner. Later there will be dessert, dancing, drinks, and board/card games.</p>
        </div>
    </div>
</section>
