<section id="photos" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        	<h1>Photos</h1>
        </div>
    </div>
    <div class="row">
    	<div class="col-lg-8 col-lg-offset-2">

    		<ul class="row photos">
    			<li class="photo col-lg-4">
    				<a target="_blank" href="/photos/IMG_1285.jpg">
    					<img src="/photos/thumbnails/IMG_1285_tn.jpg" alt="">
    				</a>
    			</li>
    			<li class="photo col-lg-4">
    				<a target="_blank" href="/photos/IMG_1396.jpg">
    					<img src="/photos/thumbnails/IMG_1396_tn.jpg" alt="">
    				</a>
    			</li>
    			<li class="photo col-lg-4">
    				<a target="_blank" href="/photos/IMG_1715.jpg">
    					<img src="/photos/thumbnails/IMG_1715_tn.jpg" alt="">
    				</a>
    			</li>
    		</ul>
    	</div>
    </div>
    <div class="row">
    	<div class="col-lg-8 col-lg-offset-2">
    		<ul class="photos row">
    			<li class="photo col-lg-4">
    				<a target="_blank" href="/photos/IMG_1948.jpg">
    					<img src="/photos/thumbnails/IMG_1948_tn.jpg" alt="">
    				</a>
    			</li>
    			<li class="photo col-lg-4">
    				<a target="_blank" href="/photos/IMG_1950.jpg">
    					<img src="/photos/thumbnails/IMG_1950_tn.jpg" alt="">
    				</a>
    			</li>
    			<li class="photo col-lg-4">
    				<a target="_blank" href="/photos/IMG_1951.jph">
    					<img src="/photos/thumbnails/IMG_1951_tn.jpg" alt="">
    				</a>
    			</li>
    		</ul>
    	</div>
    </div>
    <div class="row">
    	<div class="col-lg-8 col-lg-offset-2">
    		<ul class="photos row">
    			<li class="photo col-lg-4">
    				<a target="_blank" href="/photos/IMG_20160708_202134.jpg">
    					<img src="/photos/thumbnails/IMG_20160708_202134_tn.jpg" alt="">
    				</a>
    			</li>
    			<li class="photo col-lg-4">
    				<a target="_blank" href="/photos/IMG_20160708_202216.jpg">
    					<img src="/photos/thumbnails/IMG_20160708_202216_tn.jpg" alt="">
    				</a>
    			</li>
    			<li class="photo col-lg-4">
    				<a target="_blank" href="/photos/IMG_20160708_202733.jpg">
    					<img src="/photos/thumbnails/IMG_20160708_202733_tn.jpg" alt="">
    				</a>
    			</li>
    		</ul>
    	</div>
    </div>
    <div class="row">
    	<div class="col-lg-8 col-lg-offset-2">
    		<ul class="photos row">
    			<li class="photo col-lg-4">
    				<a target="_blank" href="/photos/IMG_20160729_070540.jpg">
    					<img src="/photos/thumbnails/IMG_20160729_070540_tn.jpg" alt="">
    				</a>
    			</li>
    			<li class="photo col-lg-4">
    				<a target="_blank" href="/photos/IMG_20161002_104102.jpg">
    					<img src="/photos/thumbnails/IMG_20161002_104102_tn.jpg" alt="">
    				</a>
    			</li>
    			<li class="photo col-lg-4">
    				<a target="_blank" href="/photos/IMG_20161002_104140.jpg">
    					<img src="/photos/thumbnails/IMG_20161002_104140_tn.jpg" alt="">
    				</a>
    			</li>
    		</ul>
    	</div>
    </div>
    <div class="row">
    	<div class="col-lg-8 col-lg-offset-2">
    		<ul class="photos row">
    			<li class="photo col-lg-4">
    				<a target="_blank" href="/photos/IMG_20160729_070540.jpg">
    					<img src="/photos/thumbnails/IMG_20160729_070540_tn.jpg" alt="">
    				</a>
    			</li>
    			<li class="photo col-lg-4">
    				<a target="_blank" href="/photos/IMG_20161002_104102.jpg">
    					<img src="/photos/thumbnails/IMG_20161002_104102_tn.jpg" alt="">
    				</a>
    			</li>
    			<li class="photo col-lg-4">
    				<a target="_blank" href="/photos/IMG_2079.jpg">
    					<img src="/photos/thumbnails/IMG_2079_tn.jpg" alt="">
    				</a>
    			</li>
    			<li class="photo col-lg-4">
    				<a target="_blank" href="/photos/IMG_2256.jpg">
    					<img src="/photos/thumbnails/IMG_2256_tn.jpg" alt="">
    				</a>
    			</li>
    			<li class="photo col-lg-4">
    				<a target="_blank" href="/photos/IMG_2323.jpg">
    					<img src="/photos/thumbnails/IMG_2323_tn.jpg" alt="">
    				</a>
    			</li>
    		</ul>
    	</div>
    </div>
</section>
