<section id="things-to-do" class="container content-section content-subsection text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        	<h2>Things to Do</h2>
            <p>The lake is perfect for <a target="_blank" href="http://www.townofdillon.com/marina/boat-rentals">boating, sailing</a>, walking and picnicking.</p>
            <p>The <a target="_blank" href="http://www.outletsatsilverthorne.com/">outlets in Silverthorne</a> are close by and great if you want to do some shopping on your visit.</p>
            <p>If you are interested in whitewater rafting, <a target="_blank" href="http://www.breckenridgewhitewater.com/">Breckenridge</a> and <a target="_blank" href="http://clearcreekrafting.com/">Clear Creek</a> aren't too far away.</p>
        </div>
    </div>
</section>