<section id="transportation" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p>Please reply in the <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScnG_deGm79wgi29ad-aQd2eDF-8XYVcOsJdriGd3sfzV_Emw/viewform">online RSVP Form</a> if you'd like help with carpooling.</p>

			<p><a target="_blank" href="https://www.kayak.com/cars/Denver,CO-c12493/2017-07-09-0h/2017-07-10-0h">Rental cars</a> are easily available from the airport.</p>
        </div>
    </div>
</section>