<section id="wedding-party" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        	<h2>Wedding Party</h2>
            <h5 id="maidofhonorjessicajessiemesser">Maid of Honor - Jessica (Jessie) Messer:</h5>

			<p>Jessie and Jackie have been best friends since they were eleven. Despite all the moves and changes over the years they've remained close and are like sisters to each other. Jessie recently moved to Colorado and is pursuing a degree through CSU Global while working as a newborn screener in Denver hospitals.</p>

			<h5 id="bestmancliffleonardi">Best Man - Cliff Leonardi</h5>

			<h5 id="groomsmantimminer">Groomsman - Tim Miner</h5>

			<h5 id="bridesmaidcolleencaron">Bridesmaid - Colleen Caron:</h5>

			<p>Colleen and Jackie are soon to be sisters, and this wedding wouldn't be happening without her. Ken and Jackie were beyond pumped when she took the plunge and moved out to Colorado last summer. Colleen is a talented artist, designer, marketer and float-tank connoisseur. </p>

			<h5 id="bridesmaidnicoleblizzardsoontobenicoledugas">Bridesmaid - Nicole Blizzard (Soon to be Nicole Dugas):</h5>

			<p>Nicole is Jackie's younger sister and they've been there for each other through thick and thin. This year they will be supporting one another as bridesmaids in each other's weddings (sorry about the timing Mom). Nicole is a passionate elementary educator and teacher leader in Houston, Texas.</p>
        </div>
    </div>
</section>
