<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include our-wedding.html %} <!-- main nav -->
    {% include the-proposal.html %}
    {% include wedding-party.html %}
    {% include logistics.html %} <!-- main nav -->
    {% include accommodations.html %}
    {% include transportation.html %}
    {% include things-to-do.html %}
    {% include directions.html %}
    {% include photos.html %}<!-- main nav -->
    {% include registry.html %} <!-- main nav -->
    {% include rsvp.html %} <!-- main nav -->
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
